<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:nools="http://schemas.android.com/tools"
    package="com.alt_sms_autofill">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" nools:node="remove" />

</manifest>
